body {
	/*background-color: #ffe6cc;*/
	background-image: url('sky2.jpg');
	font-family: "Times New Roman", Times, serif;
}

.flex-container-row {
	display: flex;
}

.flex-container-row.static-times {
	text-align: center;
}

.row-item {
	font-size: 4vh;
	flex-grow: 1;
	border: .5vh solid black;
	margin-left:1vw;
}

.flex-container-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 7vw;
	width: 80vw;
}

.flex-container-inside-column {
	display: flex;
	flex-direction: column;
	margin-top: 7.4vh;
	height: 41vh;
}

 /* INCREMENT AND DECREMENT ARROWS */
.flex-container-inside-column div {
	font-size: 10vh;
	border: .2vw solid black;
	border-radius: 2vh;
	height: 12vh;
	margin-left: 1vh;
	margin-top: .5vh;
	/* vertically align the arrows in their boxes*/
	line-height: 12vh;
}

.flex-container-inside-column div:hover {
	background-color: #fdf9f3;
	cursor: default;
	user-select: none;

}

.flex-container-inside-column div + div {
	transform: rotate(-180deg);
	margin-top: 15vh;
}

#timer-text {
	--timer-box-height: 40vh;
	border: .4vw solid black;
	margin-top: 7.4vh;
	width: 50vw;
	height: var(--timer-box-height);
	font-size: 20vw;
	text-align: center;
	background-color: #fdf9f3;
}

#return-text {
	margin-top: 5vh;
	font-size: 5vw;
	width: 35vw;
	height: 15vh;
	text-align: center;
}

#progress-bar {
	border: .2vw solid black;
	/*background-color: #6666ff old purple bluish;*/
	background-color: #8EE5EE;
	width: 6vw;
	margin-top: 7.4vh;
	margin-bottom: 7vh;
	margin-right: 2vh;
	height: 40.8vh;
}

#progress {
	width: 6vw;
	background-color: #fdf9f3;
	margin-bottom: 7vh;
	height: 100%;
}

.input-time {
	display: inline-block;
	border: none;
	width: 45%;
	max-width: 2ch;
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
}

#minutes {
	width: 45%;
}

#colon {
	width: 5%;
	height: 40vh;
	margin-top: -4vh;
}

#seconds {
	width: 45%;
}

.input-time:focus {
	outline: none;
}

.buttons {
	margin-left: -2.2vw;
}

.button {
	flex-grow: 1;
	width: 12vw;
	height: 6vh;
	border: .2vw solid black;
	margin-left: 3.5vw;
	font-size: 3vw;
	text-align: center;
	line-height: 6vh;
	border-radius: 1vh;
}

/* ---START BUTTON--*/
.button:nth-of-type(1) {
	background-color: #33cc33;
}

.button:nth-of-type(1):hover {
	background-color: #5cd65c;
	cursor: default;
	user-select: none;
	/*effect when clicked - fade lighter color over btn*/
}

/* ---RESET BUTTON--*/
.button:nth-of-type(2) {
	background-color: #ff5050;
}

.button:nth-of-type(2):hover {
	background-color: #ff8080;
	cursor: default;
	user-select: none;
	/*effect when clicked - fade lighter color over btn*/
}

