body {
	font-family: "Verdana", "Arial", sans-serif;
	background-image: url('light-wood.jpg');
}

/* -- NAVBAR -- */

.navbar {
   display: inline;
   list-style-type: none;
   overflow: hidden;
}

.icons {
	float: left;
}

#timer-icon {
	height: auto;
	width: auto;
	max-width: 4vw;
	max-height: 4vh;
	user-select: none;
}

#calc-icon {
	height: auto;
	width: auto;
	max-width: 4vw;
	max-height: 4vh;
	margin-left: .5vw;
	user-select: none;
	border-bottom: .2vw solid black;
	padding-bottom: .2vw;
}

/* -- ENTIRE CALCULATOR -- */
.container {
	display: block;
	border: solid black 2px;
	border-radius: 1vh;
	width: 80vw;
	height: 60vh;
	margin: auto;
	margin-top: 10vh;
	background-color: #4b4e4d;
}

/* -- OUTPUT FROM PRESSING BUTTONS -- */
#output {
	border: solid black 2px;
	text-align: right;
	padding-right: 1vw;
	height: 8vh;
	font-size: 7vh;
	background-color: white;
	margin-left: 2vh;
	margin-right: 2vh;
	margin-top: 2vh;
}

/* -- AREA BELOW THE OUTPUT*/
.flex-container {
	display: flex;
	display: -webkit-flex;
  -webkit-flex-direction: row;
	flex-wrap: wrap;
	margin-top: 3vh;
}

/* -- BUTTONS -- */
.item {
	height: 8vh;
	width: 18vw;
	margin: auto;
	margin-top: 1vh;
	font-size: 4vh;
	box-shadow: .2vw .2vh;
	background-color: #f2f3f2;
	text-align: center;
	line-height: 8vh;
	border-radius: 5vh;
	cursor: default;
	/*prevent highlighting text w/ clicking*/
	user-select: none;
}

/* -- BUTTON PRESSED EFFECT -- */
.button-pressed {
	background-color: #7d8281
}
